
.conteiner-principal{
    background-image: url(../asset/fondo.jpg);
    color: white;
}
.carusell{
    margin-left: 8em;
    margin-right: 8em;
}
.logo{
    width: 10%;
    height: 10%;
}
.tarjetas{
    font-family: 'Castoro', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Zilla Slab', serif;
    color: white;
}
.pie2{
    color: white;
}
.navbar1{
    font-family: 'Castoro', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Zilla Slab', serif;
    color: white;
    font-size: 30px;
}
.conteiner-principal-2{
    background-image: url(../asset/fondo.jpg);
}
.conteiner-principal-3{
    background-image: url(../asset/fondo.jpg);
    color: white;
}
.list-1{
    font-size: 20px;
    color: white;
}
.titulo-productos{
    font-family: 'Castoro', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Zilla Slab', serif;
}


/* mobile */
@media (min-width: 300px) and (max-width: 576px){
    .logo{
        width: 20%;
        height: 20%;
    }
    .map1{
        width: 80%;
        height: 80%;
    }



}

/* tablet */

@media (min-width: 577px) and (max-width: 992px){
    .map1{
        width: 80%;
        height: 70%;
    }
    .logo{
        width: 20%;
        height: 20%;
    }




}


/* PC */

@media (min-width: 993px) and (max-width: 1200px){


}
