.conteiner-principal-2{
    background-image: url(../asset/fondo.jpg);
    @include margen(0%);
    .tarjetas{
        font-family: 'Castoro', serif;
        font-family: 'Merriweather', serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-family: 'Zilla Slab', serif;
        color: $blanco;
    }
    .logo{
        @include alto-ancho(20%, 20%);
    }
    .pie2{
        color: $blanco;
    }
    .navbar1{
        font-family: 'Castoro', serif;
        font-family: 'Merriweather', serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-family: 'Zilla Slab', serif;
        color: $blanco;
        @include fuentes(30px);
    }

}