.conteiner-principal{
    background-image: url(../asset/fondo.jpg);
    @include margen(0%);
    color: $blanco;
    .carusell{
        margin-left: 8em;
        margin-right: 8em;
    }
    .logo{
        @include alto-ancho(10%, 10%);
    }
    .navbar1{
        font-family: 'Castoro', serif;
        font-family: 'Merriweather', serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-family: 'Zilla Slab', serif;
        color: $blanco;
        @include fuentes(30px);
    }

}